/* RESTTING STYLINGS FOR ALL PAGES AND APPLYING FONT FAMILY TO ALL PAGES */

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body { 
    height:100%;
    font-family: 'Quicksand',sans-serif;
}

/* FOOTER LAYOUT FOR ABOUT & CONTACT PAGES */
footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
