@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

.centerblockhome h1{
    font-size: 7rem;
    font-size: 5vw;
    text-transform: capitalize;
    color: rgb(253, 253, 252);
}

.navigation-home{
    text-align: center;
    font-size: 2rem;
    font-size: 3vw;
    padding: 20px;
}

.navigation-home a{
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(253, 253, 252);
    margin: 20px;
    transition: color 400mx ease-in-out;
}

.navigation-home a:hover{
    color: rgb(248, 244, 24);
}